table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.CourseDetails {
    display: flex;
    justify-content: space-between;
    background-color: #fefeff;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.CourseName {
    padding: 15px;
    color: #FF8200;
    background-color: #FEFEFF;
    border-radius: 10px 0 0 10px;
    text-align: left;
    font-size: 18px;
}

.CourseGrade {
    padding: 15px;
    color: white;
    background-color: #489FDF;
    width: 20px;
    border-radius: 0 10px 10px 0;
    font-size: 19px;
}
