/* PickCompare.css
 * Description: CSS styling for PickCompare component
 */

/* Major name color or header color possibly  */
.major-title {
    color: #FF8200; /* TN Orange */
}

/* major description */
.major-description {
    color: #4B4B4B; /* Smokey Gray */
    white-space: pre-line; /* Allows newline character to function properly */
}

/* req courses (jack) */
h2 {
    color: #4B4B4B; /* Smokey Gray */
}

/* button style */
.compare-button {
    background-color: #FF8200;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* dropdown style */
.dropdown {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #4B4B4B;
    background-color: #f9f9f9;
}
