/* PickCompare.css
 * Description: CSS styling for PickCompare component
 */

/* Name of a major */
.major-title {
    color: #FF8200; /* TN Orange */
}

/* Description text of a major */
.major-description {
    color: #4B4B4B; /* Smokey Gray */
    white-space: pre-line; /* Allows newline character to function properly */
}

/* Required Courses Text */
h2 {
    color: #4B4B4B; /* Smokey Gray */
}

/* Button styling */
.compare-button {
    background-color: #FF8200;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Dropdown styling */
.dropdown {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
